#btn-1{
	height:75px;
	width:300px;
	background-color:green;
	font-size:27px;
	border-radius: 25px
}

#btn-2{
	height:75px;
	width:300px;
	background-color:green;
	font-size:27px;
	border-radius: 25px;
}